@import url("styles/file-upload.css");
@import url("styles/general.css");
@import url("styles/visualizer.css");
@import url("styles/audio-track.css");
@import url("styles/layout.css");

.track,
.mode-item {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
}

.mode-item.active {
	border-color: var(--accent-blue);
	background: rgba(0, 243, 255, 0.1);
}

.modes-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 1.5rem;
}

.theme-container {
	padding-top: 1rem;
	border-top: 1px solid #4e4e4e;
}

.modes-grid .mode-item {
	flex: 1 1 calc(50% - 5px);
	box-sizing: border-box;
}

.theme-item {
	height: 30px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.btn-party {
	background: #ff4444;
	font-weight: bold;
	border: none;
	margin-top: 1rem;
}

.playlist {
	margin-top: 0.75rem;
}

.track.active {
	border-color: var(--accent-blue);
	background: rgb(146 204 226 / 38%);
	border-left: 4px solid #b8dafa;
	border-radius: 0 6px 6px 0;
}
