/* Range Inputs */
input[type="range"] {
	accent-color: #e1e1e1;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
	border: none;
}

/* Layout & Containers */
.playback-bar {
	flex-shrink: 0;
	height: 4rem;
	margin-block: 1.25rem -1.25rem;
	padding-top: 0;
	border-radius: 0.75rem 0.75rem 0 0;
}

.playback-controls-bar {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	width: 100%;
}

.control-group {
	margin-bottom: 1rem;
}

/* Controls Placement */
.player-controls {
	grid-column: 2;
	justify-self: center;
	margin-top: 0.5rem;
}

.volume-control {
	grid-column: 3;
	justify-self: end;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 15rem;
	margin-right: 1rem;
}

/* Progress & Volume Scrubbers */
.progress {
	width: 100%;
	padding-top: 1rem;
}

.progress-scrubber {
	width: 100%;
	margin-inline: 1rem;
}

.volume-scrubber {
	width: 5rem;
	margin-inline: 0.5rem;
}

/* Toggle States */
.shuffle,
.repeat {
	color: #9a9a9a;
}

.shuffle.active,
.repeat.active {
	color: #fff;
}
