.playback-bar {
	height: 4rem;
	margin-top: 20px;
	margin-bottom: -1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	border-radius: 12px 12px 0 0;
	padding-top: 0rem;
}

input[type="range"] {
	width: 80%;
	margin: auto 0.5rem;
	accent-color: #e1e1e1;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
	border: none;
}

.progress {
	width: 100%;
	padding-top: 1rem;
}

.player-controls {
	margin-top: 0.5rem;
}

.control-group {
	margin-bottom: 1rem;
}
