.playlist {
	margin-top: 0.75rem;
	min-height: calc(100vh - 17rem);
}

.track {
	margin-bottom: 8px;
}

.track.active {
	border-color: var(--accent-blue);
	background: rgb(146 204 226 / 38%);
	border-left: 4px solid #b8dafa;
	border-radius: 0 6px 6px 0;
}
