:root {
	--bg-top-left: #2d8db9;
	--bg-mid: #0d0b1a;
	--bg-bottom-right: #9b7d2b;
	--panel-bg: #636c8870;
	--font-color: #ebebeb;
}

body,
html {
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	font-family: "Inter", sans-serif;
	color: var(--font-color);
	background: linear-gradient(135deg, #102531 0%, #12142b 50%, #2a1b25 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.flex-row {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.middle {
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.fit-content {
	height: fit-content;
}

h1 {
	font-size: 1.5rem;
	margin: 0;
}

h2 {
	font-size: 1rem;
	margin-top: 0;
	letter-spacing: 1px;
}

.element {
	background: #ffffff21;
	border: 1px solid var(--border-color);
	color: var(--text-primary);
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.action-btn {
	width: 2rem;
	height: 2rem;
	background: transparent;
	border: none;
	color: #e1e1e1;
}

.btn-secondary {
	width: 85%;
}

input:focus-visible {
	outline: none;
	cursor: auto;
}

.btn-party {
	background: #ff4444;
	font-weight: bold;
	border: none;
	margin-top: 1rem;
}

.scrubber {
	cursor: grab;
}
