.mode-item.active {
	border-color: var(--accent-blue);
	background: rgba(0, 243, 255, 0.1);
}

.modes-grid {
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 1.5rem;
}

/* .theme-container {
	padding-top: 1rem;
	border-top: 1px solid #4e4e4e;
} */

.mode-item {
	flex: 1 1 calc(50% - 5px);
	box-sizing: border-box;
	margin-bottom: 8px;
}

.theme-item {
	height: 30px;
	margin-bottom: 10px;
	border-radius: 4px;
}
